$contentBackground: #fff;
$headerBackground: url(../img/m-h-day.jpg);
$colorBlock: #21232e; 
$colorHighlight: #14a0c7;
$colorGradient1: #639317;
$colorGradient2: #2c5add;
$colorTextHeader: #21232e;
$colorText: #fff;
$colorButton: #639317;
$colorButtonText: #fff;
$fonts: ("Source": 'Source Sans Pro', "Hind": 'Hind', "Fresca": 'Fresca' );
$fontMain: map-get($fonts, "Hind"), sans-serif;