$contentBackground: #21232e;
$headerBackground: url(../img/m-h-night.jpg);
$colorBlock: #3b3f50;
$colorHighlight: #ff4e33;
$colorGradient1: #db9f09;
$colorGradient2: #932d53;
$colorTextHeader: #fff;
$colorText: #fff;
$colorButton: #e3ac00;
$colorButtonText: #fff;
$fonts: ("Source": 'Source Sans Pro', "Hind": 'Hind', "Fresca": 'Fresca' );
$fontMain: map-get($fonts, "Fresca"), sans-serif;